html, body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

/*Styling for the container shown on the landing page */
 .landing-page {
  /*min-width: 100%;*/
  /* min-height: 100%; */
  width: 100%;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

/*Styling for the submit button to add some margin to top*/
.book { 
	margin:1em 0;
   position:fixed; 
   right:5rem; 
   bottom:0rem;
   border-radius: 55%; 
   font-size: 2em;
   }

  /*page heading*/

  .heading{
    text-align: center;
    color: gray;
  }